@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #7950E6, #46E34C, #81E346);

    main {
        background-color: white;
        border-radius: 10px;
        box-shadow: 3px 3px 19px #604bb5d5;
        width: 600px;
        padding: 10px;
        margin: auto;
    }

    h1 {
        color: #464FE3;
        text-align: center;
        text-shadow: 1px 1px 3px #1c1053e3;
    }

    h2 {
        color: #7950E6;
    }
}

p {
    text-align: justify;
}